# seriously? ignore git changes
.git/*

# package control
**/node_modules/**
**/bower_components/**

# env + ssl files
config/env/*.*
config/env/**
config/ssl/*.*
config/ssl/**
!config/env/README.md
!config/ssl/production/README.md
!config/ssl/development/README.md

# logs
npm_debug.log

# final build
dist/**

# os artifacts
.DS_Store
