<div class='container full-screen' data-ng-controller='RoomCtrl'>
  <nav class="navbar navbar-fixed-top" role='navigation' data-ng-controller='MediaCtrl'>
      <div class="container wide" style='padding: 0 100px 0 100px;'>
          <div class="navbar-header">
              <button class="navbar-toggle" data-target="#collapsable-nav" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <a href="/" class='navbar-brand'><img src='/assets/img/logo.png' style='width: 20px; height; 20px;' /></a>
          </div>
          <div id='collapsable-nav' class='navbar-collapse collapse' role='navigation'>
            <ul class='nav navbar-nav'>
              <li><a class='text-white' href="https://github.com/ishmaelthedestroyer/chatboxx" target="_blank">code</a></li>
              <li><a class='text-white' href="#" ng-click='contact($event)'>contact</a></li>
            </ul>

            <ul class='nav navbar-nav navbar-right'>
              <li>
                <button class='btn navbar-btn' ng-class="{true:'btn-primary', false:'btn-warning'}[streamingCamera]" ng-disabled="!connected || requestingCamera" ng-click="toggleCamera()" style="margin-right: 10px;">
                  Video - {{streamingCamera && 'ON' || 'OFF' }}
                </button>
              </li>
              <li>
                <button class='btn navbar-btn' ng-class="{true:'btn-primary', false:'btn-warning'}[muted]" ng-disabled="!connected" ng-click="toggleMute()" style="margin-right: 10px;">
                  Mute - {{muted && 'ON' || 'OFF' }}
                </button>
              </li>
              <li>
                <button class='btn navbar-btn' ng-class="{true:'btn-primary', false:'btn-warning'}[streamingScreen]" ng-disabled="!connected || requestingScreen" ng-click="toggleScreen()">
                  Screen Share - {{streamingScreen && 'ON' || 'OFF' }}
                </button>
              </li>
            </ul>
          </div>
      </div>
  </nav>

  <div class='clear-10'></div>

  <div class='snap-drawers' data-ng-controller='ChatCtrl'>
    <div class='snap-drawer snap-drawer-left' id='snap-sidebar'>

      <ul class="nav nav-tabs nav-justified">
        <li ng-class="{active: focus=='group'}" ng-click="changeFocus('group')" style="cursor:pointer;">
          <a data-target="#conversation" data-toggle="tab">Group Chat</a>
        </li>
        <li ng-class="{active: focus==user.socket}" ng-repeat="user in users | filter:filterRoommates" ng-click="changeFocus(user.socket)" style="cursor:pointer;">
          <a data-toggle="tab">{{user.name}}</a>
        </li>
      </ul>
      <div class="clear-20">
      </div>
      <form class="row">
        <div class="col-md-12">
          <textarea class="form-control" placeholder="Say something..." rows="4" ng-model="message" bxsubmitonenter="chat()" ng-trim="ng-trim" ng-disabled="!connected"></textarea>
        </div>
        <div class="clear-10">
        </div>
        <div class="form-group">
          <div class="col-sm-4">
            <button class="form-control btn btn-default" ng-click="chat()" ng-disabled="!connected">
              Send
            </button>
          </div>
          <div class="col-sm-8 control-label text-white">
            <p>{{self.name}}</p>
          </div>
        </div>
      </form>
      <div class="clear-20">
      </div>
      <div class="float" style="overflow-y: auto; overflow-x: hidden; max-height: 500px; height: auto; width: 100%;">
        <ul class='list-unstyled comments'>
          <li data-ng-repeat="message in messages | orderBy: 'date':true | filter:chatFilter" id='message-{{message.id}}' class='comments-comment'>
            <div class='comment-wrapper'>
              <div class='comment-header'>
                <span class='comment-text-author'>{{message.author}}</span>
                <span class="comment-text-divider">&bull;</span>
                <span class='comment-text-date'>{{message.date | date:'short'}}</span>
            </div>
            <div class='comment-body'>
              <span class='comment-text-body'>{{message.body}}</span>
            </div>
          </li>
        </ul>

        <div class="clear-5"></div>

      </div>
    </div>

    <div class='snap-content' id='snap-content' style='padding: 50px 350px 100px 100px;'>
      <button class='btn btn-default rotate-90 bg-black-8 text-white' id='chat-btn'>
        <i class='glyphicon glyphicon-chevron-right rotate-90'></i>&nbsp;&nbsp;&nbsp;Chat
      </button>

      <div class='float stream-container' ng-repeat='stream in streams' style='width: 600px; height: 600px; background-color: #333;'>

      </div>

    </div>
  </div>
</div>