html, body {
  height: 100%;
}
body {
  position: relative;
}
*, h1, h2, h3, h4, h5, p, a, em {
  font-family: 'Ubuntu', sans-serif;
}
em {
  text-decoration: none;
  font-style: normal;
  color: #E74C3C;
}
.navbar a {
  font-size: 16px;
  font-weight: 700;
}
.navbar a:hover {
  color: #E74C3C;
}
.navbar ul li ul li a {
  font-size: 16px;
}
.navbar, .nav .navbar-nav, #collapseable-nav {
  background-color: rgba(51, 51, 51, 0.8);
  background: rgba(51, 51, 51, 0.8);
}
.navbar .navbar-toggle {
  border-color: #dddddd;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #dddddd;
}

.navbar .navbar-toggle .icon-bar {
  background-color: #cccccc;
}

.snap-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 999;
  overflow: auto;
  background-color: #fff;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.snap-drawers {
  background-color: rgba(51, 51, 51, 0.8);
  background: rgba(51, 51, 51, 0.8);
  position: absolute;
  top: 53px;
  right: 0;
  bottom: -53px;
  left: 0;
  width: auto;
  height: auto;
}


.snap-drawer {
  position: absolute;
  padding: 25px;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 450px;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease;
}

.snap-drawer-left {
  left: 0;
  z-index: 1;
}

.snap-drawer-right {
  right: 0;
  z-index: 1;
}

#chat-btn {
  width: 150px;
  height: 80px;
  position: absolute;
  left: -40px;
  top: 100px;
  z-index: 1000px;
}

.comment-text-divider {
  margin: 0 0.5em 0 0.5em;
}

.comments, .comments-comment {
  display: block;
  padding: 0;
  position: relative;
  margin-bottom: 7px;
}

.comments-comment .comment-wrapper {
  display: block;
  overflow: hidden;
  padding: 0 0 8px 0;
  margin: 0 0 0 8px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

.comments-comment .comment-wrapper:before {
  content: "";
  position: absolute;
  top: 15px;
  left: 3px;
  width: 10px;
  height: 10px;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: #e5e5e5;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.comments-comment .comment-header {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 4px 10px 0 10px;
  background-color: #fff;
}

.comments-comment .comment-body {
  padding: 0 8px 0 8px;
  background: #fff;
}

.comments-comment .comment-text-author {
  font-weight: bold;
  font-size: 10pt;
}

.comments-comment .comment-text-date {
  font-size: 10pt;
  font-color: #333;
  opacity: 0.6;
}

.comments-comment .comment-text-comment {
  font-size: 12pt;
  font-color: #000;
  font-weight: 100 !important;
}

.stream-container {
  margin: 0 10px 10px 10px;
  padding: 2px;
  position: relative;
  cursor: pointer;
  z-index: 1000;
}

.stream {

}

/*
TODO: port css to ngToolboxx
*/

.rotate-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.footer {
  height: 40px;
  margin-top: -40px;
}
